.resultado-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.result-card {
  max-width: 800px; /* Limita el ancho máximo del card */
  margin: auto; /* Centra el card en la página */
  padding: 20px;
}

.table-container {
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
  max-width: 100%; /* Asegura que la tabla no se expanda más allá del contenedor */
}

table {
  width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
  table-layout: auto; /* Ajusta las columnas automáticamente según el contenido */
}

.mat-elevation-z8 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Añade una sombra para dar un efecto elevado */
}

mat-card {
  margin-bottom: 20px; /* Espaciado inferior para separar el card del gráfico */
}
